.bonusContainer {
  position: relative;
}
.bonusContainer h4{
  font-size: 2rem;
  color:#1b80f3d1 ;
}
.bonus {
  position: absolute;
  top: -50px;
  left: -30px;
}
.bonus-animation-not-active {
  opacity: 0;
}
.animate-bonus {
  animation: animateBonus 0.2s ease-in; /* Example animation, change it to your desired animation */
}

@keyframes animateBonus {
  0% {
    transform: translateY(0px) scale(1);
    opacity: 0.8;
  }

  50% {
    transform: translateY(-5px) scale(1.1);
    opacity: 0.8;
  }
  99% {
    transform: translateY(-20px) scale(1.2);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-35px) scale(1.2);
    opacity: 0;
  }
}
