
.boardTile{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  position: absolute;
  transition: all 0.1s;
 

}
.boardInnerTile{
  background-color: rgb(225, 165, 45);
  width: 90%;
  height: 90%;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

}


.animate-tile{
  animation: shrinkAnimation 0.2s ease-in-out;

}
.tile-animation-not-active{

}
@keyframes shrinkAnimation {
  0% {
    transform: scale(1); /* Initial size */
  }
  50% {
    transform: scale(1.1); /* Shrink to 90% */
  }
  100% {
    transform: scale(1); /* Return to original size */
  }
}
/* 
.boardTile.shrink {
  animation: shrinkAnimation 0.3s ease-in-out;
}
 */