
.boardTile{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  position: absolute;

}
.boardInnerTile{
  background-color: rgb(225, 165, 45);
  width: 90%;
  height: 90%;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

}

.value{
  
}